// ================================================================================================
// 	File Name: dashboard-ecommerce.scss
// 	Description: SCC file for e-commerce dashboard page.
// 	----------------------------------------------------------------------------------------------
// 	Item Name: Crypto ICO - Cryptocurrency Website Landing Page HTML + Dashboard Template
// 	Version: 1.0
// 	Author: PIXINVENT
// 	Author URL: http://www.themeforest.net/user/pixinvent
// ================================================================================================
// Core variables and mixins
@import "../bootstrap/functions";
@import "../bootstrap/mixins";
@import "../bootstrap-extended/mixins";

// Load variable overrides
@import "../core/variables/variables";
@import "../core/variables/components-variables";

// Overrides user variable
@import "../../../assets/scss/variables/variables";
@import "../../../assets/scss/variables/components-variables";

// ICO TOKENOMICS (SUPPLY & DEMAND)
#ico-token-supply-demand-chart .ct-series-a {
    .ct-bar {
        stroke: url(#barGradient3);
    }
    .ct-slice-pie {
        fill: rgb(27, 127, 254);
    }
}

.donut {
    .ct-crowdsale .ct-slice-donut-solid {
        fill: url(#ct-crowdsale);
    }
    .ct-team .ct-slice-donut-solid {
        fill: url(#ct-team);
    }
    .ct-advisors .ct-slice-donut-solid {
        fill: url(#ct-advisors);
    }
    .ct-project-advisors .ct-slice-donut-solid {
        fill: url(#ct-project-advisors);
    }
    .ct-masternodes .ct-slice-donut-solid {
        fill: url(#ct-masternodes);
    }
    .ct-program .ct-slice-donut-solid {
        fill: url(#ct-program);
    }
} 

// TOKEN DISTRIBUTION - Donut Chart

.donut .ct-label {
    text-anchor: middle;
    alignment-baseline: middle;
    font-size: 20px;
    fill: #868e96;
}

.donut .ct-chart-donut .ct-series {
    stroke: #fff;
    stroke-width: 2px;
}

.donutShadow {
    -webkit-filter: drop-shadow(0px 10px 8px rgba(26, 53, 127, 0.3));
    filter: drop-shadow(0px 10px 8px rgba(26, 53, 127, 0.3))/* Same syntax as box-shadow, except 
                                               for the spread property */
}
ul.token-distribution-list {
    list-style: none;
    li {
        position: relative;
    }
    li:before {
        position: absolute;
        top: 8px;
        margin: 0px 0 0 -15px;
        vertical-align: middle;
        display: inline-block;
        width: 7px;
        height: 7px;
        content: "";
        border-radius: 50%;
    }
    li.crowd-sale::before {
        background: #2abbfe;
    }
    li.team::before {
        background: #c37bfe;
    }
    li.advisors::before {
        background: #39d98c;
    }
    li.project-reserve::before {
        background: #e85d44;
    }
    li.master-nodes::before {
        background: #fa679d;
    }
    li.program::before {
        background: #33d4d8;
    }
}

// Purchase token
.form-purchase-token{
	.la-arrow-right{
		position: relative;
	    top: 9px;
	    font-size: 1.8rem;
	}
}