#ico-token-supply-demand-chart .ct-series-a .ct-bar {
  stroke: url(#barGradient3); }

#ico-token-supply-demand-chart .ct-series-a .ct-slice-pie {
  fill: #1b7ffe; }

.donut .ct-crowdsale .ct-slice-donut-solid {
  fill: url(#ct-crowdsale); }

.donut .ct-team .ct-slice-donut-solid {
  fill: url(#ct-team); }

.donut .ct-advisors .ct-slice-donut-solid {
  fill: url(#ct-advisors); }

.donut .ct-project-advisors .ct-slice-donut-solid {
  fill: url(#ct-project-advisors); }

.donut .ct-masternodes .ct-slice-donut-solid {
  fill: url(#ct-masternodes); }

.donut .ct-program .ct-slice-donut-solid {
  fill: url(#ct-program); }

.donut .ct-label {
  text-anchor: middle;
  alignment-baseline: middle;
  font-size: 20px;
  fill: #868e96; }

.donut .ct-chart-donut .ct-series {
  stroke: #fff;
  stroke-width: 2px; }

.donutShadow {
  -webkit-filter: drop-shadow(0px 10px 8px rgba(26, 53, 127, 0.3));
  filter: drop-shadow(0px 10px 8px rgba(26, 53, 127, 0.3)); }

ul.token-distribution-list {
  list-style: none; }
  ul.token-distribution-list li {
    position: relative; }
  ul.token-distribution-list li:before {
    position: absolute;
    top: 8px;
    margin: 0px 0 0 -15px;
    vertical-align: middle;
    display: inline-block;
    width: 7px;
    height: 7px;
    content: "";
    border-radius: 50%; }
  ul.token-distribution-list li.crowd-sale::before {
    background: #2abbfe; }
  ul.token-distribution-list li.team::before {
    background: #c37bfe; }
  ul.token-distribution-list li.advisors::before {
    background: #39d98c; }
  ul.token-distribution-list li.project-reserve::before {
    background: #e85d44; }
  ul.token-distribution-list li.master-nodes::before {
    background: #fa679d; }
  ul.token-distribution-list li.program::before {
    background: #33d4d8; }

.form-purchase-token .la-arrow-right {
  position: relative;
  top: 9px;
  font-size: 1.8rem; }
